target/
tarpaulin-report.html

# JS
node_modules/
pkg*/
package-lock.json
yarn.lock
pnpm-lock.yaml
js/LICENSE.txt

# Python
.venv
__pycache__/
.pytest_cache
uv.lock

# HTML docs

lib/docs/dist
/theme/

# Build scripts
.github/workflows/manylinux_build_script.sh
.github/workflows/musllinux_build_script.sh
